body{
    background-color: #3db9b1;
    color: #43E695;
}
.styledButton{
    background-color: #0B0B45;
    color: #92A8D1;
    border: none;
    font-size: 18px;
}
.writeTo
{
    background-color: #F8971D;
    color: indigo;
}